@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-swal-container {
  top: 0;
  margin-top: 30px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  
  @keyframes bounceInDown {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
  }

@layer components {
    .btn-primary {
        @apply bg-primary hover:bg-primary-hover text-white w-full flex items-center justify-center border border-transparent text-base font-medium rounded-md;
    }

    .btn-secondary {
        @apply bg-secondary hover:bg-secondary-hover text-gray-900 w-full flex items-center justify-center border border-transparent text-base font-medium rounded-md;
    }

    .btn-white {
        @apply w-full flex items-center justify-center border border-transparent text-base font-medium rounded-md text-gray-900 bg-white hover:bg-gray-50;
    }
}





.blink {
    -webkit-animation: blinkanimation 1s infinite;
    /* Safari 4+ */
    -moz-animation: blinkanimation 1s infinite;
    /* Fx 5+ */
    -o-animation: blinkanimation 1s infinite;
    /* Opera 12+ */
    animation: blinkanimation 1s infinite;
    /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blinkanimation {
    0%,
    49% {
        background-color: #fff;
    }
    50%,
    100% {
        background-color: #FFCCCB;
    }
}